h1.title {
    /* height: 60px; */
    text-align: center;
}

h4.subtitle {
    /* height: 20px; */
    text-align: center;
}

#mapid {
    height: 600px;
    width: 75%;
    display: inline-block;
 }

 .leaflet-popup-content p {
    margin: .2em 0;
 }

.sequence-control-container {
    width: 250px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    line-height: 40px;
    text-align: center;
    border: solid gray 1px;
}

.range-slider {
    width: 150px;
}

.step {
    width: 40px;
}

.step img {
    width: 100%;
    height: auto;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.legend-control-container {
    width: 160px;
    height: 160px;
    background-color: rgba(255, 255, 255, .9);
    line-height: normal;
    text-align: center;
    border: solid gray 1px;
}

#temporal-legend {
    height: 30px;
    width: 160px;
    text-align: center;
    padding-top: 10px
}

#panel {
   width: 24%;
   height: 610px;
   display: inline-block;
   vertical-align: top;
   position: relative;
}

img {
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.picCredits {
    line-height: 0px;
}

p.credits {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    line-height: 10px;
}

.lowerLimitSlider{
    display: inline-block;
    width: 30%;
}

.upperLimitSlider{
    display: inline-block;
    width: 30%;
}

#lowerLimitNumber{
    width: 18%;
    display: inline-block;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
}

#upperLimitNumber{
    width: 18%;
    display: inline-block;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
}
